<app-header></app-header>
<ul class="
<!-- nav nav-pills -->
">
  <li class="
  <!-- nav-item -->
  ">
    <a class="
    <!-- nav-link active -->
     btn waves-effect wavers-light btn-small" [routerLink]="['/ticket']">Создать заявку</a>
  </li>
</ul>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Заявки</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">База знаний</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Настройки</a>
  </li>
</ul>
<app-filter
  (onFilter)="applyFilter($event)"
  (onClearFilter)="clearFilter()"
></app-filter>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тема</th>           
      <th scope="col">Имя</th>      
      <th scope="col">Телефон</th>      
      <th scope="col">Исполнитель</th>
      <th scope="col">Дата</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody *ngFor="let ticket of tickets">
    <tr>
      <a [routerLink]="['/edit', ticket._id]" routerLinkActive="router-link-active" (click)="setNum(ticket.num)"><th scope="row">{{ ticket.num }}</th></a>
      <td>{{ ticket.title }}</td>      
      <td>{{ ticket.name }}</td>      
      <td>{{ ticket.tel }}</td>      
      <td>{{ ticket.perf }}</td>
      <td>{{ ticket.date | date:'dd.MM.yyyy  HH:mm:ss' }}</td>      
      <td>{{ ticket.status }}</td>     
    </tr>
  </tbody>
</table>
